<nav class="nav">
  <a href="/">Home</a>
  <a href="/transactions-page">Minhas Transações</a>
  <a href="/budgets-page">Orçamentos</a>
  <a href="/categories-page">Categorias</a>
  <a href="/dashboard-page">Dashboard</a>
</nav>
