<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Categorias</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <%- include('partials/header') %>

  <main>
    <section class="card">
      <h2>Gerenciar Categorias</h2>
      <div class="form-inline">
        <input type="text" id="newCatName" placeholder="Nova categoria">
        <button id="btnAddCat">Adicionar</button>
      </div>
      <ul id="catList" class="list"></ul>
    </section>
  </main>

  <script src="/js/categories.js"></script>
</body>
</html>
